.column,
.col {
  color: silver;
  width: 350px;
  text-align: center;
  border-radius: 15px;
  background-color: #2626263f;
  border: 1px solid #26262659;
  margin: 0;
}

.column {
  border-top: 1px solid rgba(255, 0, 0, 0);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-bottom: 10vh;
  height: calc(100% - 55px);
}

@media (min-width: 1150px) {
  .col {
    width: 33.3%;
  }
  .scroll {
    min-width: 100%;
  }
  .column {
    width: 100%;
  }
}

